#picture {
  width: 500px;
  height: 53px;
}

.main {
  width: 100%;
  height: 91vh;
}

.main_picture_stamp_word,
.main_picture_list_01,
.main_picture_list_02 { overflow-x: hidden; }

.main_picture_title {
  display: inline-flex;
  width: 84%;
  height: 70px;
  margin-left: 8%;
  justify-content: space-between;
  align-items: center;
}

.main_picture_title > li:nth-child(1) {
  font-size: 1.7rem;
  line-height: 2.5rem;
  background-color: #fcc173;
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
}

img[src*='arrow-icon'] {
  width: 24px;
}

.main_picture_title_button {
  display: flex;
}

.main_picture_title_button li:nth-child(1) {
  display: inline-block;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 3px;
}

@keyframes stamp-word {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

@keyframes stamp-list-01 {
  0% {
    transform: translateX(-1600.18px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes stamp-list-02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600.17px);
  }
}

.main_picture_scroll_stamp_word img {
  height: 98px;
}
.main_picture {
  overflow: hidden;
}

.main_picture_scroll {
  width: 100%;
}

.main_picture_stamp_word {
  position: relative;
  z-index: -1;
  display: inline-flex;
  width: 3840px;
  animation: stamp-word 16s ease infinite;
}

.main_picture_list_01 img {
  height: 200px;
}

.main_picture_list_01 {
  position: relative;
  display: inline-flex;
  margin-top: -25px;
  width: 3200.36px;
  animation: stamp-list-01 16s ease infinite;
}

.main_picture_list_01:hover {
  animation-play-state: paused;
}

.main_picture_list_02 img {
  height: 200px;
}

.main_picture_list_02 {
  display: inline-flex;
  width: 3200.34px;
  animation: stamp-list-02 16s ease infinite;
}

.main_picture_list_02:hover {
  animation-play-state: paused;
}

.main_picture_box {
  position: relative;
}

.main_picture_box_text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}

.main_picture_box:hover .main_picture_box_text {
  opacity: 0.7;
}

.main_picture_box_text h1 {
  color: aliceblue;
  font-size: 1.5rem;
}

.main_picture_box_text p {
  font-size: 1rem;
  color: aliceblue;
  line-height: 1.2rem;
}

.main_picture_box_text p > a:visited {
  color: white;
}

.box_text_link a {
  font-size: 1.5rem;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 8px 0 8px;
  margin-left: 150px;
  transition: transform 300ms;
}

.box_text_link:hover {
  transform: scale(1.1, 1.1);
}

.box_text_link:hover .box_text_link a {
  color: black;
  border: 1px solid white;
  border-radius: 10px;
}

.main_plan_title {
  display: flex;
  margin-top: 20px;
  height: 44px;
  width: 146px;
  margin-left: 8%;
  justify-content: center;
  font-size: 1.7rem;
  line-height: 2.8rem;
  background-color: #fcc173;
  border-radius: 10px;
  margin-bottom: 13px;
}

@media screen and (min-width: 1200px) {
  .main_plan_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: center;*/
    margin: 0 8% 0 8%;
    height: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .main_plan_text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .main_plan_text li:nth-child(6) {
    margin-bottom: 85.5px;
  }

  #planId {
    display: block;
    width: 500px;
    height: 53px;
  }
}

@media screen and (min-width: 550px) {
  .main_plan_text li {
    position: relative;
    width: 520px;
    height: 17.4vh;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 18px;
  }

  .main_plan_text_number {
    font-size: 3.7rem;
    font-weight: 300;
    font-family: 'Monofett', cursive;
    margin: 25px 0 0 8px;
  }

  img[src*='plan-icon'] {
    height: 17.4vh;
    margin: 0 3% 0 3%;
  }

  .main_plan_chapter_link {
    position: absolute;
    right: 8px;
    bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .main_plan_chapter_link p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .main_plan_text li {
    position: relative;
    width: 290px;
    height: 39.4vh;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 18px;
  }

  .main_plan_text_number {
    font-size: 3.7rem;
    font-weight: 300;
    font-family: 'Monofett', cursive;
    margin: 90px 0 0 8px;
  }

  img[src*='plan-icon'] {
    height: 17.4vh;
    margin: 25% 3% 0 3%;
  }

  .main_plan_chapter_link {
    position: absolute;
    display: flex;
    right: 0;
    justify-content: flex-end;
  }

  .main_plan_chapter_link p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.main_plan_text li span:nth-child(1) {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.main_plan_chapter {
  right: 0;
  flex-direction: column;
  justify-content: space-evenly;
}

.chapter_content {
  font-size: 1rem;
}

.chapter_title {
  font-size: 1.2rem;
  line-height: 2rem;
}
