* {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #efe9e9;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 700;
}

body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

body {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}
